{% extends "base.html" %}
{% block extrajs %}
<!-- You should place your js files here -->
<!-- <script src="/static/js/index.js"></script> -->
{% endblock%}

{% block title %}Log In{% endblock %}

{% block nav_index %}class="active"{% endblock %}


{% block content %}

<div class="container">
    <button class="btn btn-primary" onclick="insert_row()" style="color: #202020; background-color: #cc3399;">Log In</button>
    <button class="btn btn-primary" onclick="insert_row()" style="color: #202020; background-color: #cc3399;">Registration</button>
</div>

  
{% endblock %}